.landmarkcontrol {
     padding: 5px;
     width: 100%;
}

.panel {
  margin: 0;
  border: none;
  overflow: hidden;
}

.panel-group {
}

.panel-body {
   padding: 10px;
   margin-left:10px;
   background-color: white;
}

.panel-title {
/*
  font-weight:bold;
*/
  padding:5px;
  margin-left: 5px;
  color: #000;
  font-size: 14px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: white;
    color: white;
    padding: 2px 2px;
    border: 2px;
    border-radius: 2px;
}

/****  old map marker
.panel-heading .accordion-toggle:after {
    font-size: 14px;
    font-family: 'Glyphicons Halflings';  
    content: "\e062"; 
    float: left;
    margin-right:10px;
    color: #337ab7;
}
****/


